body {  
        font-family:'Times New Roman', Times, serif;
        font-weight: 300;
        font-size: 2rem;
        color: rgb(2, 0, 141);
        text-align: center;
}

h1, h2 {
        font-weight: 300  ;
}